body {
  background-image: url(asset/teahub.io-professional-wallpaper-354842.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
}
.cell{
  display:none;
  margin-top: -8em;
  color: whitesmoke;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.cell h1{
  font-family: 'Raleway', sans-serif;
  font-size: x-small;
}

.projectParent{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
  background-color: whitesmoke;
  border:1px hidden white;
  height: auto;
  width:100%;
}
.projects{
  padding-left: 1em;
  padding-right: 1em;
  position:relative;
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectParent h1{
  text-align: center;
  color: rgb(95, 95, 95);
  font-family: 'Raleway', sans-serif;
  padding-top:50px;
}
.row{
  margin:none;
}
.projExample1{
  position:relative;
  display:flex;
  margin-top:75px;
  margin: 20px;
   overflow: hidden;
   width: 350px;
   height: 350px;
   background-image: url("asset/fortis1.PNG");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
 .projExample2{
  display:flex;
  margin: 20px;
  overflow: hidden;
  width: 350px;
  height: 350px;
   background-image: url("asset/supercar.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
 .projExample3{
  display:flex;
  margin: 20px;
  overflow: hidden;
  width: 350px;
  height: 350px;

   background-image: url("asset/csharpapp.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }

 .projExample4{
  display:flex;
  margin: 20px;
  overflow: hidden;
  width: 350px;
  height: 350px;
   background-image: url("asset/melty.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
  }
  .projExample5{
    display:flex;
    margin-top:75px;
    margin: 20px;
     overflow: hidden;
     width: 350px;
     height: 350px;
     background-image: url("asset/iRestaurant.PNG");
     background-size: cover;
     border: 1px hidden whitesmoke;
    border-radius: 5px;
    box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
   }
   .projExample6{
    display:flex;
    margin: 20px;
    overflow: hidden;
    width: 350px;
    height: 350px;
  
     background-image: url("asset/springtree.PNG");
     background-position: bottom;
     background-size: cover;
     border: 1px hidden whitesmoke;
    border-radius: 5px;
    box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
   }
   .projExample7{
    display:flex;
    margin: 20px;
    overflow: hidden;
    width: 350px;
    height: 350px;
  
     background-image: url("asset/meemme.PNG");
     background-position: bottom;
     background-size: cover;
     border: 1px hidden whitesmoke;
    border-radius: 5px;
    box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
   }
   .projExample8{
    display:flex;
    margin: 20px;
    overflow: hidden;
    width: 350px;
    height: 350px;
     background-image: url("asset/Dokemon.PNG");
     background-position: bottom;
     background-size: cover;
     border: 1px hidden whitesmoke;
    border-radius: 5px;
    box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
   }
.overlay{
  position: relative;
  background-color: rgba(255, 255, 255, 0.644);
  width:350px;
  height:350px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
  border:hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
}
.overlay img{
  margin-top: 3em;
  width:6em;
  height:auto;
  cursor: pointer;
}
.overlay p{
  padding:2em;
  color: black;
}
.projExample1:hover .overlay {
  opacity: 1;
}
.projExample2:hover .overlay {
  opacity: 1;
}
.projExample3:hover .overlay {
  opacity: 1;
}
.projExample4:hover .overlay {
  opacity: 1;
}
.projExample5:hover .overlay {
  opacity: 1;
}
.projExample6:hover .overlay {
  opacity: 1;
}
.projExample7:hover .overlay {
  opacity: 1;
}
.projExample8:hover .overlay {
  opacity: 1;
}
button{
  background: none;
  border:hidden;
}
button:focus{
  background: none;
  border:hidden;
  outline: 0;
}
footer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: center;
  padding: 1.5em 2.0em;
  box-shadow: 0px 0 10px -3px rgba(0,0,0,0.75);
  overflow: hidden;
}

.footer img{
  position:relative;
  background: none;
  border:hidden;
  width: 25px;
  height:auto;
  object-fit: contain;
}
.footer button:focus{
  background: none;
  border:hidden;
  outline: 0;
}













































@media only screen and (max-width: 950px){
  html{
    overflow-x: hidden;
  }
  .button{
    display:none;
  }
  body{
    background-image: none;
    background-color: whitesmoke;
    overflow-x: hidden;
    position:relative;
    width:100%;
    min-height:100%;
    padding-bottom:30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

  }
  .entire{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200%;
  }
  .arrow{
    display: none;
  }
  #profileImage{
    display:none;
  }
  #portrait{
    display:none;
    width: 75%;
    margin-top:25%;
    height:auto;
    border-radius: 50%;
    border: 1px solid rgb(53, 53, 53);
  }
  #innerProfile h1{
    display:none;
}
  .portTopCenter{
    display:flex;
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto;
    white-space: nowrap;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: rgba(165, 165, 165, 0.596);*/
    border:1px hidden white;
    border-radius: 2px;
    text-align: center;
    width: 40em;
    height:20em;
}
.portTopCenter h1{
    color: rgb(95, 95, 95);
    font-size: 250%;
    margin-top: 0;
    word-wrap:normal;
    font-family: 'Raleway', sans-serif;
    outline: white;
    z-index: 1;
}
.portTopCenter h2{
    color: rgb(95, 95, 95);
    font-size: 150%;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    outline: white;
}
.birdie img{
  width:75px;
  margin-bottom: -1.4em;
  margin-right: -14em;
}
.cell{
  margin-top: 25%;
  margin-bottom: 25%;
  display: flex;
  color: rgb(95, 95, 95);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  height:auto;
  animation: fade; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.cell h2{
  font-size: 100%;
}
.cell button img{
  width: 100px;
  margin-bottom:10em;
}



  .resume2{
    display:none;
}
.resume{
  display: none;
    width:100%;
    border-bottom: 1px solid rgb(95, 95, 95);
    height:35em;
}
.resume h1{
  padding-top:1.25em;
  text-align: center;
  margin-right:0;
}
.resume3{
  display: none;
  visibility: hidden;
  margin-top: 0;
  height: 700px; 
}
.resume3 h1{
  padding-top:1.5em;
  padding-bottom:1em;
  text-align: center;
  margin-right:0;
  font-size: 2em;
}
#menuToggle
{
  display: none;
}
#menuToggle input
{
  display: none;
}
#menuToggle span
{
  display: none;
}
#menu
{
  display: none;
}
#menu li
{
  display: none;
}
#menuToggle input:checked ~ ul
{
  display: none;
}

#skillsParent{
  display: none;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  position: relative;
  margin-top: -3em;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: space-around;
  
 
}
#skillsChild{
  display: hidden;
  height: auto;
  width: 20%;
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 0;
  margin-top: -7em;
}
#skillsChild img{
  height: auto;
  width: 80%;
  position:relative;
  transition: 0.35s;
}
#skillsChild img:hover{
-webkit-filter: drop-shadow(5px 5px 5px rgb(95, 95, 95));
filter:drop-shadow(5px 5px 5px rgb(95, 95, 95));
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  
}
.projectParent{
  display: none;
height:85em;
border-top: 1px solid rgb(95, 95, 95);
}
.projectParent h1{
  text-align: center;
  color: rgb(95, 95, 95);
  font-family: 'Raleway', sans-serif;
  padding-top:1.5em;
}
.projExample1{
  display:flex;
  margin: 2em;
   overflow: hidden;
   width: 350px;
   height: 350px;
   background-image: url("asset/pokemon.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
 .projExample2{
  display:flex;
  margin: 2em;
  overflow: hidden;
  width: 350px;
  height: 350px;

   background-image: url("asset/supercar.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }

 .projExample4{
  display:flex;
  margin: 2em;
  overflow: hidden;
  width: 350px;
  height: 350px;

   background-image: url("asset/melty.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
.overlay{
 
}
.overlay img{
  width:6em;
  margin-top:-10em;
  height:auto;
  cursor: pointer;
}
.overlay p{
  margin:0em;
  margin-bottom:4em;
  color: black;
}
#span1{
  display: none;
}
footer{
  display:none;
  position: absolute;
  bottom:0;
  width:100%;
  height:25px;
}



}
