



::-webkit-scrollbar {
  width: 5px;  
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background:  #b23b3b;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
body{
background-image: url(asset/test3.jpg);
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;

background-attachment: fixed;
}
.entire{
  background-color: rgba(245, 245, 245, 0.692);
}
html {
    scroll-behavior: smooth;
  }

#profileImage{
    display: flex;
    justify-content: left;
}
#portrait{
    width: 120px;
    height:120px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-top: 2em;
    margin-left:2em;
}
#innerProfile{
    width:30em;
    height: 7.5em;
    color: rgb(95, 95, 95);
    margin-top: 2em;
    margin-left: 1em;
    border: none;
    border-radius: 10px;
    position: relative;
}
#innerProfile h1{
    margin:auto;
    height:3em;
    padding-top: 8%;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}
#testCenter{
    display:flex;
    justify-content: center;
    margin-top: 10%;
}
.portTopCenter{
    display:flex;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    white-space: nowrap;
    flex-direction: column;
    flex-wrap: wrap;
    /*background-color: rgba(165, 165, 165, 0.596);*/
    border:1px hidden white;
    border-radius: 2px;
    text-align: center;
    width: auto;
    height:20em;
    animation: fade; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
.portTopCenter h1{
    color: rgb(95, 95, 95);
    font-size: 400%;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    outline: white;
    z-index: 1;
}
.portTopCenter h2{
    color: rgb(95, 95, 95);
    font-size: 200%;
    margin-top: -.5em;
    font-family: 'Raleway', sans-serif;
    outline: white;
}

.birdie img{
  position:relative;
  margin-top:0;
  margin-bottom: -6.3em;
  margin-right: -22.5em;
  width: 125px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.arrow img{
  width:50px;
}
.arrow img:hover{
	transform: scale(1.1);
}




.cell{
  display:none;
  margin-top: -8em;
  color: whitesmoke;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.cell h1{
  font-family: 'Raleway', sans-serif;
  font-size: x-small;
}

.resume{
  color:whitesmoke;
    margin-top: 15em;
    background-image: url("asset/collage6.JPG");
    background-position: center;
    height: auto;
    max-height: 40em;
    width:100%;
    overflow: hidden;
    
}

.resume3{

    background-color:  rgba(245, 245, 245, 0.795);
    border:1px hidden white;
    height: 350px;
    width:100%;
    
}
.resume h1{
  padding-top: 3%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.resume p{
  color: whitesmoke;
    align-content: center;
    padding: 2em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.15em;
    /*font-size: 1.20vmax;*/
    object-fit: cover;
}
.resume3 h1{
    height:3em;
    color: rgb(95, 95, 95);
    padding-top: 3%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom:0;
}


.innerResume{
height: 25em;
background-color: rgba(245, 245, 245, 0.637);
width: 20em;
border: 1px hidden black;
border-radius: 2px;
padding:1em;
box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.12);
}

a
{
  text-decoration: none;
  color: rgb(95, 95, 95);
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #b23b3b;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(95, 95, 95);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(95, 95, 95);;
}

/*
 * hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * more hamburger movement
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * hamburger menu
 */
#menu
{
  text-align: center;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -55px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
  background:  rgba(245, 245, 245, 0.795);
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#skillsParent{
    display:flex;
    position: relative;
    margin-top: 0em;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;


    
   
}
#skillsChild{
  margin-top: -100px;
    display: flex;
    height: 200px;
    width: 200px;

}
#skillsChild img{
    height: 160px;
    width: 160px;
    position:relative;
    transition: 0.35s;
}
#skillsChild img:hover{
  -webkit-filter: drop-shadow(5px 5px 5px rgb(95, 95, 95));
  filter:drop-shadow(5px 5px 5px rgb(95, 95, 95));
  
}
.projectParent{
  margin-top: 0;
  background-color: whitesmoke;
  border:1px hidden white;
  height: auto;
  width:100%;
}
.projects{
  padding-left: 1em;
  padding-right:1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.projectParent h1{
  text-align: center;
  color: rgb(95, 95, 95);
  font-family: 'Raleway', sans-serif;
  padding-top:50px;
}

.projExample1{
  display:flex;
  margin-top:75px;
  margin: 20px;
   overflow: hidden;
   width: 400px;
   height: 400px;
   background-image: url("asset/pokemon.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
 .projExample2{
  display:flex;
  margin: 20px;
  overflow: hidden;
  width: 400px;
  height: 400px;
   background-image: url("asset/supercar.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
 .projExample3{
  display:flex;
  margin: 20px;
  overflow: hidden;
  width: 400px;
  height: 400px;

   background-image: url("asset/csharpapp.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }

 .projExample4{
  display:flex;
  margin: 20px;
  overflow: hidden;
  width: 400px;
  height: 400px;
   background-image: url("asset/melty.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 /*   opacity:0;
    -webkit-animation: fadeIn 1s 2.75s;
    -moz-animation: fadeIn 1s 2.75s;
    -o-animation: fadeIn 1s 2.75s;
    -ms-animation: fadeIn 1s 2.75s;
    animation: fadeIn 1s 2.75s;
    -webkit-animation-fill-mode: forwards;
      animation-fill-mode:forwards;*/
  }
  .projExample5{
    display:flex;
    margin-top:75px;
    margin: 20px;
     overflow: hidden;
     width: 400px;
     height: 400px;
     background-image: url("asset/iRestaurant.PNG");
     background-size: cover;
     border: 1px hidden whitesmoke;
    border-radius: 5px;
    box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
   }
   .projExample6{
    display:flex;
    margin: 20px;
    overflow: hidden;
    width: 400px;
    height: 400px;
  
     background-image: url("asset/springtree.PNG");
     background-position: bottom;
     background-size: cover;
     border: 1px hidden whitesmoke;
    border-radius: 5px;
    box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
   }


.overlay{
  position: relative;
  background-color: rgba(255, 255, 255, 0.459);
  width:30em;
  height:30em;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
 
  border:hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
  
}
.overlay img{
  padding-top: -2em;
  width:6em;
  height:auto;
  cursor: pointer;
}
.overlay p{
  padding:2em;

  color: black;
  
}
.projExample1:hover .overlay {
  opacity: 1;
}
.projExample2:hover .overlay {
  opacity: 1;
}
.projExample3:hover .overlay {
  opacity: 1;
}
.projExample4:hover .overlay {
  opacity: 1;
}
.projExample5:hover .overlay {
  opacity: 1;
}
.projExample6:hover .overlay {
  opacity: 1;
}
button{
  background: none;
  border:hidden;
}
button:focus{
  background: none;
  border:hidden;
  outline: 0;
}
footer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: center;
  padding: 1.5em 2.0em;
  box-shadow: 0px 0 10px -3px rgba(0,0,0,0.75);
  overflow: hidden;
  
  
}

.footer img{
  position:relative;
  background: none;
  border:hidden;
  width: 25px;
  height:auto;
  object-fit: contain;
}
.footer button:focus{
  background: none;
  border:hidden;
  outline: 0;
}
.modal{
 background-color: hidden;
}
.input{
  padding-top: 20em;
  margin: auto;
  width:30em;
  height:40em;
  border:1px hidden black;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.596);
}
.submit{
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.modal-footer button{
    
  background-color: #b23b3b;
  color: whitesmoke;
  border: hidden;
  border-radius: 5px;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  margin:0.5em;
}

.modal-footer .btn{
    
  background-color: #b23b3b;
  color: whitesmoke;
  border: hidden;
  border-radius: 5px;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  margin:0.5em;
}
.modal-header{
  display: flex;
  justify-content: center;
  text-align: center;
}
.emailForm {

  border:1px solid grey;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 10px;

}

textarea {

  height: 220px;
}












































@media only screen and (max-width: 950px){
  html{
    overflow-x: hidden;
  }
  body{
    background-image: none;
    background-color: whitesmoke;
    overflow-x: hidden;
    position:relative;
    width:100%;
  }
  .entire{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200%;
  }
  .arrow{
    display: none;
  }
  #profileImage{
    position:relative;
    margin-top: 25%;
  }
  #portrait{
    display:none;
    width: 75%;
    margin-top:25%;
    height:auto;
    border-radius: 50%;
    border: 1px solid rgb(53, 53, 53);
  }
  #innerProfile h1{
    display:none;
}
  .portTopCenter{
    display:flex;
    position: relative;
    margin-top: 33.333%;
    margin-left: auto;
    margin-right:auto;
    white-space: nowrap;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: rgba(165, 165, 165, 0.596);*/
    border:1px hidden white;
    border-radius: 2px;
    text-align: center;
    width: 40em;
    height:20em;
}
.portTopCenter h1{
    color: rgb(95, 95, 95);
    font-size: 250%;
    margin-top: 0;
    word-wrap:normal;
    font-family: 'Raleway', sans-serif;
    outline: white;
    z-index: 1;
}
.portTopCenter h2{
    color: rgb(95, 95, 95);
    font-size: 150%;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    outline: white;
}
.birdie img{
  width:75px;
  margin-bottom: -1.4em;
  margin-right: -14em;
}
.cell{
  margin-top: 66.666%;
  display: flex;
  color: rgb(95, 95, 95);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  height:auto;
  margin-bottom: 10%;
  animation: fade; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.cell h2{
  font-size: 100%;
}
.cell button img{
  width: 100px;
  margin-bottom:10em;
}



  .resume2{
    display:none;
}
.resume{
  display: none;
    width:100%;
    border-bottom: 1px solid rgb(95, 95, 95);
    height:35em;
}
.resume h1{
  padding-top:1.25em;
  text-align: center;
  margin-right:0;
}
.resume3{
  display: none;
  visibility: hidden;
  margin-top: 0;
  height: 700px; 
}
.resume3 h1{
  padding-top:1.5em;
  padding-bottom:1em;
  text-align: center;
  margin-right:0;
  font-size: 2em;
}
#menuToggle
{
  display: none;
}
#menuToggle input
{
  display: none;
}
#menuToggle span
{
  display: none;
}
#menu
{
  display: none;
}
#menu li
{
  display: none;
}
#menuToggle input:checked ~ ul
{
  display: none;
}

#skillsParent{
  display: none;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  position: relative;
  margin-top: -3em;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: space-around;
  
 
}
#skillsChild{
  display: hidden;
  height: auto;
  width: 20%;
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 0;
  margin-top: -7em;
}
#skillsChild img{
  height: auto;
  width: 80%;
  position:relative;
  transition: 0.35s;
}
#skillsChild img:hover{
-webkit-filter: drop-shadow(5px 5px 5px rgb(95, 95, 95));
filter:drop-shadow(5px 5px 5px rgb(95, 95, 95));
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  
}
.projectParent{
  display: none;
height:85em;
border-top: 1px solid rgb(95, 95, 95);
}
.projectParent h1{
  text-align: center;
  color: rgb(95, 95, 95);
  font-family: 'Raleway', sans-serif;
  padding-top:1.5em;
}
.projExample1{
  display:flex;
  margin: 2em;
   overflow: hidden;
   width: 350px;
   height: 350px;
   background-image: url("asset/pokemon.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
 .projExample2{
  display:flex;
  margin: 2em;
  overflow: hidden;
  width: 350px;
  height: 350px;

   background-image: url("asset/supercar.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }

 .projExample4{
  display:flex;
  margin: 2em;
  overflow: hidden;
  width: 350px;
  height: 350px;

   background-image: url("asset/melty.png");
   background-size: cover;
   border: 1px hidden whitesmoke;
  border-radius: 5px;
  box-shadow: 0 .5px 3px .5px rgba(71, 71, 71, 0.705);
 }
.overlay{
 
}
.overlay img{
  width:6em;
  margin-top:-10em;
  height:auto;
  cursor: pointer;
}
.overlay p{
  margin:0em;
  margin-bottom:4em;
  color: black;
}
#span1{
  display: none;
}
footer{
  position: absolute;
  margin-top: 100%;
  width:100%;
}



}
